### Git으로 추적하지 않을 예외 파일 (임시 파일, 바이너리 파일 등)###

### 빌드된 바이너리 파일 ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS 임시 파일 ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### IDE 관련 임시 파일, 설정 파일 ###
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 미디어 파일 저장 디렉토리 ###
storage/
storage/*
